<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Fotografi</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/css/assetsFotografi/css/main.css}" />
</head>
<body>
	<!-- Nav -->
	<nav id="nav">
		<ul>
			<li><a th:href="@{/}"><span class="icon fa-home"></span></a></li>
			
		</ul>
	</nav>


	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<span class="avatar"><img
				src="images/fotografiImages/avatar.jpg" alt="" /></span>
			<h1>
				Gentile <strong>Funzionario</strong> <br /> Cosa intendi fare?
			</h1>
		</header>

		<!-- Main -->
		<section id="main">

			<!-- Thumbnails -->
			<section class="thumbnails">
				<div></div>
				<div>


					<a th:href="@{/nuovoFotografo}"><h3>Inserisci nuovo
							fotografo</h3></a>  <a
						th:href="@{/inserisciAlbum}"><h3>Inserisci nuovo album</h3></a> <a
						th:href="@{/visualizzaRichiesteDiUtilizzo}"><h3>
							Visualizza richieste di utilizzo</h3></a>
							<a th:href="@{/logout}"><h3>
							Logout</h3></a>

				</div>
				<div></div>

			</section>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<div class="copyright">&copy; Realizzato da Adriano Vlad e
				Matteo Brandetti</div>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="/css/assetsFotografi/js/jquery.min.js"></script>
	<script src="/css/assetsFotografi/js/skel.min.js"></script>
	<script src="/css/assetsFotografi/js/main.js"></script>

</body>
</html>





