<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Fotografi</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/css/assetsFotografi/css/main.css}" />
</head>
<body>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<span class="avatar"><img
				src="images/fotografiImages/avatar.jpg" alt="" /></span>
			<h1>
				Ecco i nostri migliori <strong>Fotografi</strong> dei quali potete
				comprare<br /> le fotografie che piu apprezzate.
			</h1>
			<ul class="icons">
				<li><a href="#" class="icon style2 fa-twitter"><span
						class="label">Twitter</span></a></li>
				<li><a href="#" class="icon style2 fa-facebook"><span
						class="label">Facebook</span></a></li>
				<li><a href="#" class="icon style2 fa-instagram"><span
						class="label">Instagram</span></a></li>
				<li><a href="#" class="icon style2 fa-500px"><span
						class="label">500px</span></a></li>
				<li><a href="#" class="icon style2 fa-envelope-o"><span
						class="label">Email</span></a></li>
			</ul>
		</header>

		<!-- Main -->
		<section id="main">

			<!-- Thumbnails -->
			<section class="thumbnails">
				<div>
					<a th:each="fotografo : ${fotografi1}"
						th:href="@{images/fotografiImages/fulls/01.jpg}"> <img
						th:src="@{images/fotografiImages/thumbs/01.jpg}" alt="" />
						<h3 th:text="${fotografo.nome} + ${fotografo.cognome}"></h3>
					</a>
				</div>
				<div>
					<a th:each="fotografo : ${fotografi2}"
						th:href="@{images/fotografiImages/fulls/03.jpg}"> <img
						th:src="@{images/fotografiImages/thumbs/03.jpg}" alt="" />
						<h3 th:text="${fotografo.nome} + ${fotografo.cognome}"></h3>
					</a>
				</div>
				<div>
					<a th:each="fotografo : ${fotografi3}"
						th:href="@{images/fotografiImages/fulls/06.jpg}"> <img
						th:src="@{images/fotografiImages/thumbs/06.jpg}" alt="" />
						<h3 th:text="${fotografo.nome} + ${fotografo.cognome}"></h3>
					</a>
				</div>
			</section>

		</section>

		<!-- Footer -->
		<footer id="footer">
			<div class="copyright">&copy; Realizzato da Adriano Vlad e Matteo Brandetti</div>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.poptrox.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>