<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Galleria - SILPH WEB</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/css/assetsGallery/css/main.css}" />
</head>
<body>
	<div class="page-wrap">

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a th:href="@{/}"><span class="icon fa-home"></span></a></li>

			</ul>
		</nav>

		<!-- Main -->
		<section id="main">


			<!-- Form -->

			<h3>Ordina Foto</h3>
			<form th:action="@{/processaRichiestaUtilizzo}" method="post"
				th:object="${richiestaUtilizzo}">
				<div class="field half first">
					<label for="name">Nome</label> <input name="name" id="name"
						type="text" placeholder="Name" th:field="*{nome}">
				</div>
				<div class="field half first">
					<label for="lastname">Cognome</label> <input name="lastname"
						id="lastname" type="text" placeholder="Lastname"
						th:field="*{cognome}">
				</div>
				<div class="field half">
					<label for="email">Email</label> <input name="email" id="email"
						type="text" placeholder="Email" th:field="*{email}">
				</div>
				<div class="field">
					<label for="message">Note</label>
					<textarea name="message" id="message" rows="4"
						placeholder="Evenutali Note"></textarea>
				</div>
				<ul class="actions">
					<li><input value="Invia Richiesta" class="button"
						type="submit"></li>
				</ul>

				<!-- Gallery -->
				<section id="galleries">

					<!-- Photo Galleries -->
					<div class="gallery">


						<div class="content">

							<div th:each="photo : ${photos}" class="media all people">


								<a th:href="@{'/getFoto/' + ${photo.id}}"><img
									th:src="@{'/getFoto/' + ${photo.id}}" alt=""
									th:title="${photo.titolo}" /> </a>

								<table>
									<tr>
										<td><h3 th:text="'Compra per ' + ${photo.prezzo} +'$'"></h3></td>
										<td><button name="dotnet">+</button></td>
									</tr>
								</table>
							</div>




						</div>


					</div>
				</section>
			</form>




			<!-- Contact -->
			<section id="contact">
				<!-- Social -->
				<div class="social column">
					<h3>About us</h3>

					<h3>Segui SILPH SPA sui social</h3>
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span
								class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span
								class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span
								class="label">Instagram</span></a></li>
					</ul>
				</div>





			</section>

			<!-- Footer -->
			<footer id="footer">
				<div class="copyright">&copy; Realizzato da Adriano Vlad e
					Matteo Brandetti</div>
			</footer>
		</section>
	</div>

	<!-- Scripts -->
	<script src="/css/assetsGalleria/css/js/jquery.min.js"></script>
	<script src="/css/assetsGalleria/css/js/jquery.poptrox.min.js"></script>
	<script src="/css/assetsGalleria/css/js/jquery.scrolly.min.js"></script>
	<script src="/css/assetsGalleria/css/js/skel.min.js"></script>
	<script src="/css/assetsGalleria/css/js/util.js"></script>
	<script src="/css/assetsGalleria/css/js/main.js"></script>

</body>
</html>