<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">

<title>Nuovo Album</title>
<link rel="stylesheet" th:href="@{/css/assetsIndex/css/main.css}" />

</head>
<body>
	<div>
		<form th:action="@{/addAlbum}" th:method="POST"
			enctype="multipart/form-data" th:object="${album}">

			<table>
				<tr>
					<td>Titolo:</td>
					<td><input type="text" th:field="*{titolo}" style="color:black"></td>
					<td th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></td>
				</tr>
				<tr>
					<td>Seleziona il fotografo autore</td>
					<td><select th:field="*{fotografo}"  style="color:black">
							<option th:each="fot: ${fotografi}" th:value="${fot.id}"  th:text="${fot.nome} +' '+ ${fot.cognome}" style="color:black">placeHolder</option>
					</select></td>

				</tr>


				<tr>
					<td>Carica le foto</td>
					<td><input type="file" name="photos" accept="image/*" style="color:white" multiple></td>
				</tr>
				<tr>
					<td>
						<button type="submit">Invio</button>
					</td>
				</tr>




			</table>






		</form>


	</div>

</body>
</html>