<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Impiegati</title>
<link rel="stylesheet" th:href="@{/css/assetsFotografi/css/main.css}" />

</head>
<body>

    <table>

		<tr th:each="richiestaUtilizzo: ${richiesteUtilizzo}"><td
			th:text="${richiestaUtilizzo.nome}"> Nome: </td> <td
			th:text="${richiestaUtilizzo.cognome}">      Cognome: </td> <td
			th:text="${richiestaUtilizzo.data}">      Data: </td> <td
			th:text="${richiestaUtilizzo.email}">      Email: </td>
			 <td
			th:text="${richiestaUtilizzo.time}">       Ora: </td>
			 <td
			 
			th:text="${richiestaUtilizzo.nota}">       Nota: </td>
			
			
			<td>
			
			<a th:href="@{'/fotoRichieste/' + ${richiestaUtilizzo.id}}">Foto acquistate </a>
			
			
			
			
			
			</td>
			
			
			
			
		 <tr> <td><a th:href="@{/elencoAttivita}"> Back</a>  </td></tr>



	</table>
	
	

</body>
</html>