<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Impiegati</title>
</head>
<body>

    <ul>

		<li th:each="richiestaUtilizzo: ${richiesteUtilizzo}"><span
			th:text="${richiestaUtilizzo.nome}"> Nome: </span> <span
			th:text="${richiestaUtilizzo.cognome}"> Cognome: </span> <span
			th:text="${richiestaUtilizzo.data}"> Data: </span> <span
			th:text="${richiestaUtilizzo.email}"> Email: </span></li>



	</ul>

</body>
</html>